@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Seja Bem-Vindo!</h1>
        <p class="lead">Esse é um projeto MVC desenvolvido em asp.net para gerenciamento de filmes. Entre as funcionalidades disponíveis estão: Cadastro, Listagem, Exclusão e Edição de filmes.</p>
    </div>
</div>
